.preview-card{
    max-width: 350px;
    margin: auto;
}

.notify{
    width: 350px;
    min-height: 150px;
    position: fixed;
    border-radius: 20px;
    background-color: white;
    border: solid 5px var(--bs-info);
    top: 20px;
    right: -400px;
    padding: 20px;
    transition: 0.3s  ease-in-out;
}

.notify.active{
    
    right: 100px;
    
}

.notify.notify-error {
    border: solid 5px var(--bs-danger);
    
}


.notify.notify-success {
    border: solid 5px var(--bs-success);
    
}

.my-h2{
    margin-bottom: 40px;
}